#logged-out-navbar-container {
  // position: relative;
  // position: fixed;
  width: 100%;
  
  #upper-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    height: 64px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;

    #logo-container {
      padding-left: 30px;
      align-items: center;
      width: auto;
  
      a {
        display: flex;
        flex-direction: row;
  
        h2 {
          font-size: 24px;
        }
  
        img, i {
          width: 25px;
          height: 25px;
          margin-left: 5px;
          align-self: center;
        }
      }
    }
  
    #navbar-links-container {
      font-size: 18px;
      box-shadow: none;
      display: flex;
      flex-direction: row;
  
      p {
        margin-left: 50px;
        transition: all 0.1s ease 0s;
        cursor: pointer;
  
        i {
          font-size: 14px;
        }
        
        &:hover {
          color: rgb(0, 180, 5);
        }
      }
  
      // a {
      //   margin-left: 50px;
      //   transition: all 0.1s ease 0s;
        
      //   &:hover {
      //     color: rgb(0, 180, 5);
      //   }
      // }
    }
    
    #session-container {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      
      a {
        font-weight: bold;
        text-align: center;
        transition: all 0.1s ease 0s;
        align-self: center;
        white-space: nowrap;
        margin-left: 25px;
        font-size: 17px;
        transition: all 0.1s ease 0s;
  
        &:hover {
          color: rgb(0, 180, 5);
        }
  
        button {
          margin-right: 25px;
          display: inline-block;
          font-size: 18px;
          font-weight: bold;
          padding: 0px 36px;
          background-color: rgb(00, 200, 5);
          border-radius: 50px;
          transition: all 0.1s ease 0s;
          height: 43px;
  
          &:hover {
            background-color: rgba(0, 180, 5, 5);
          }
        }
      }
    }
  }

  #lower-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: white;
    height: 64px;
    z-index: 998;

    #lower-links-container {
      margin: 0 0 0 215px;

      a, p {
        font-size: 18px;
        margin: 0 40px 0 0;
        display: inline;
        cursor: pointer;

        &:hover {
          color: rgb(0, 180, 5);
        }
      }
    }
  }

  #close-lower-navbar {
    // display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 997;
    // background-color: rgba(255, 0, 0, 0.279);
  }
  
  a,
  button {
    color: black;
    text-decoration: none;
  }
}

#logged-in-navbar-container {
  display: grid;
  // grid-template-columns: 420px 1100px 1fr;
  grid-template-columns: 20% 50% 30%;
  grid-template-areas: "logo-container search-container navbar-links-container";
  // display: flex;
  // justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  height: 64px;
  z-index: 1000;

  #logo-container {
    grid-area: logo-container;
    margin-left: 65px;
    align-items: center;
    width: auto;

    a {
      display: flex;
      flex-direction: row;

      img {
        width: 50px;
      }
    }
  }

  #search-container {
    grid-area: search-container;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    height: 35px;
    width: 550px;
    margin-top: 5px;
    text-decoration: none;
    background-color: white;
    
    i {
      margin-left: 10px;
      color: gray;
    }
    
    input {
      background-color: white;
      width: 100%;
      align-self: center;
      margin-left: 5px;
      border: none;
      border-radius: 30px;
      
      &:focus {
        outline: none;
        border: none;
      }
    }

    &:hover {
      border: 1px solid white;
      box-shadow: 5px 5px 20px rgb(236, 230, 230);
    }
  }

  #navbar-links-container {
    grid-area: navbar-links-container;
    font-size: 13px;
    font-weight: bold;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-self: end;

    a {
      margin-right: 45px;
      align-self: center;
      white-space: nowrap;
      color: black;
      text-decoration: none;
      transition: all 0.1s ease 0s;

      &:hover {
        color: rgb(0, 180, 5);
      }
    }
  }
}