#splash-container {

  .disclosures {

    button {
      font-size: 18px;
      font-weight: bold;
      color: black;
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;

      &:hover {
        color: rgb(0, 180, 5);
      }
    }
  }

  @keyframes appear {
    from { 
      opacity: 0; 
    }
    to   { 
      opacity: 1; 
    }
  }

  #splash1-container {
    background-color: rgb(195, 245, 60);
    display: flex;
    justify-content: center;
    height: 654px;
    
    #splash1-text {
      margin: 110px 0 0 0;
      width: 480px;
      // flex: 1;

      h1 {
        font-size: 55px;
        font-weight: 500;
        margin-bottom: 18px;
        margin-top: 18px;
      }

      p {
        // font-weight: 24px;
        line-height: 1.5;
        margin: 22px 0 35px 0;
        font-size: 25px;
      }

      #sign-up {
        font-size: 18px;
        font-weight: bold;
        padding: 0px 40px;
        background-color: black;
        color: white;
        border-radius: 50px;
        transition: all 0.1s ease 0s;
        height: 46px;
      }

      #splash1-disclosure {
        margin: 38px 0 0 0;
      }
    }

    #splash1-image {
      height: 603px;
      margin: 20px 0 0 0;
      width: auto;
      position: relative;
      top: 0;
      left: 0;

      video {
        position: relative;
        top: 0;
        right: 0;
        height: 600px;
        width: 692;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  #splash2-container {
    background-color: white;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

    p {
      font-size: 18px;

      a {
        color: black;
        text-decoration: underline;

        &:hover {
          color: rgb(0, 180, 5);
        }
      }
    }
  }

  #splash3-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;

    #splash3-img-container {
      height: 594;
      width: auto;
    }
    
    #splash3-text-container {
      width: 600px;
      margin: 80px 0 0 0;

      #splash3-header {
        
        h2 {
          font-size: 32px;
        }
        
        p {
          font-size: 18px;
          margin: 20px 0 0 0;
          line-height: 1.5;
        }
      }

      #splash3-bullets {
        display: grid;
        grid-template-columns: 68px 594px;
        grid-template-rows: 100px 100px 100px;
        grid-template-areas: 
        "turn-img turn-text"
        "first-img first-text"
        "shot-img shot-text";
        margin: 40px 0 0 0;

        #turn-img {
          grid-area: turn-img;
        }

        #turn-text {
          grid-area: turn-text;
          
          h3 {
            font-weight: bold;
            margin: 0 0 10px 0;
          }
        }

        #first-img {
          grid-area: first-img;
        }

        #first-text {
          grid-area: first-text;
          
          h3 {
            font-weight: bold;
            margin: 0 0 10px 0;
          }
        }

        #shot-img {
          grid-area: shot-img;
        }

        #shot-text {
          grid-area: shot-text;
          
          h3 {
            font-weight: bold;
            margin: 0 0 10px 0;
          }
        }
      }

      #splash3-disclosure {
        margin: 50px 0 0 0;
      }
    }
  }
  
  #splash4-container {
    background-color: rgb(243, 236, 231);
    height: 527px;
    display: flex;
    justify-content: center;
    
    #splash4-text-container {
      width: 750px;
      margin: 50px 0 0 0;
      
      #splash4-header {
        h2 {
          font-size: 32px;
        }
        
        p {
          font-size: 18px;
          color: #6A7278;
          margin: 30px 0 0 0;
        }
      }
      
      #splash4-sections-container {
        font-size: 18px;
        display: flex;
        margin: 40px 0 0 0;
        
        h3 {
          font-weight: bold;
        }
  
        p {
          margin: 20px 0 0 0;
        }
        
        .splash4-sections {
          width: 250px;
          line-height: 1.5;
          margin: 25px 15px 0 0;
        }
      }
  
      #splash4-disclosure {
        margin: 65px 0 0 0;
      }
    }

    #splash4-img-container {
      margin: 0 0 0 70px;
      align-self: center;
    }
  }

  #splash5-container {
    height: 660px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;

    #splash5-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      button {
        border: none;
        background-color: black;
        font-size: 24px;
        margin: 0 0 20px 0;
        color: #545D61;

        &:hover {
          color: rgb(0, 180, 5);
        }

        #1 {
          color: white;

        }
      }
    }

    #splash5-inner-container {
      display: flex;
      animation: appear 2s;
      
      #splash5-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
      }
  
      #splash5-text-container {
        width: 550px;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
  
        #splash5-text {
          width: 470px;
          
          h1 {
            font-size: 52px;
          }
  
          p {
            font-size: 18px;
            margin: 20px 0 0 0;
            line-height: 1.5;
          }
        }
      }
    }
  }

  #splash6-container {
    height: 768px;
    background-color: rgb(243, 236, 231);
    display: flex;
    justify-content: center;
    align-items: center;

    #splash6-inner-container {
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 36px;
        margin: 170px 0 0 0;
      }

      #splash6-buttons {
        margin: 30px 0 0 0;

        button {
          border: none;
          background-color: rgb(243, 236, 231);
          color: #6A7278;
          padding: 0;
          margin: 0 20px 0 0;
          font-size: 24px;

          &:hover {
            color: rgb(0, 180, 5);
          }
        }
      }

      #splash6-info {
        width: 450px;
        margin: 0 0 220px 0;

        p {
          font-size: 18px;
          line-height: 1.5;
          margin: 85px 0 0 0;
        }

        #learn {
          font-size: 18px;
          font-weight: bold;
          padding: 0px 40px;
          background-color: black;
          color: white;
          border-radius: 50px;
          transition: all 0.1s ease 0s;
          height: 46px;
          margin: 170px 0 0 0;
        }
            
        #splash6-disclosure {
          margin: 105px 0 0 0;
        }
      }

      #splash6-img {

        img {
          height: 560px;
          width: auto;
        }
      }
    }
  }

  #splash7-container {
    height: 875px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    #splash7-inner-container {
      width: 1200px;
      display: flex;
      flex-direction: column;

      #footer-links {
        display: flex;
        justify-content: space-between;

        #links {
          display: flex;
          
          .cols {
            width: 186px;
            display: flex;
            flex-direction: column;

            p {
              font-size: 18px;
              margin: 0 0 25px 0;
            }
          }

          #col3 {

            i {
              margin: 0 25px 0 0;
            }
          }
        }

        #snacks {
          width: 492px;
    
          p {
            margin: 15px 0 0 0;
            font-size: 18px;
            color: #919FA6;
            line-height: 1.5;
          }
    
          #email-container {
            border-radius: 30px;
            height: 60px;
            width: 440px;
            background-color: #1E2124;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0 0 0;
    
            input {
              background-color: transparent;
              border-radius: 30px;
              outline: none;
              border: none;
              margin: 0 0 0 12px;
    
              &::placeholder {
                font-size: 18px;
              }
            }
    
            button {
              margin: 0 8px 0 0;
              display: inline-block;
              font-size: 18px;
              font-weight: bold;
              padding: 0px 36px;
              background-color: rgb(00, 200, 5);
              border-radius: 50px;
              transition: all 0.1s ease 0s;
              height: 43px;
    
              &:hover {
                background-color: rgba(0, 180, 5, 5);
              }
            }
    
            &:active {
              background-color: #2a2d30;
            }
          }
        }
      }     
      
      #tandcs {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid white;
        align-items: flex-end;
        margin: 40px 0 20px 0;

        a {
          color: white;
          font-size: 18px;
          font-weight: bold;
          margin: 0 0 20px 0;

          &:hover {
            color: rgb(0, 180, 5);
          }
        }
      }

      #rights {
        color: white;
        margin: 20px 0 0 0;

        p {
          font-size: 15px;
          margin: 25px 0 25px 0;
        }

        #splash7-disclosure {
          margin: 95px 0 0 0;

          button {
            color: #919FA6;

            &:hover {
              color: rgb(0, 180, 5);
            }
          }
        }
      }
    }
  }
}

// .sign-up-offer {
//     background-color: rgb(195,245,60);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 750px;

//     .offer {
//         width: 480px;
//         // flex: 1;

//         h1 {
//             font-size: 52px;
//             font-weight: 500;
//             margin-bottom: 18px;
//             margin-top: 18px;
//         }

//         p {
//             // font-weight: 24px;
//             line-height: 30px;
//             margin-bottom: 18px;
//             margin-top: 18px;
//             font-size: 20px;
//         }

//          button {
//             font-size: 17px;
//             font-weight: bold;
//             padding: 0px 36px;
//             background-color: black;
//             color: white;
//             border-radius: 50px;
//             transition: all 0.1s ease 0s;
//             height: 43px;
//         }

//         .sign-up-btn {
//             margin-bottom: 18px;
//             margin-top: 18px;
//         }

//         .disclosure {
//             p {
//                 font-size: 15px;
//                 font-weight: bold;
//             }
//         }
//     }

//     .offer-image {
//         height: 603px;
//         width: auto;
//         // display: block;
//         // margin-right: auto;
//         // margin-top: 18px;
//         // height: 80%;
//         // display: flex;
//         // justify-content: center;
//         // align-items: center;
//         // flex-direction: column;
//         // margin-left:350px;

//         // img {
//         //     position: absolute;
//         //     z-index: 2;
//         //     top: 115px;
//         //     left: 85px;
//         //     height: 650px;
//         //     // margin-top: 200px;
//         // }

//         // video {
//         //     // margin-top: 200px;
//         //     position: absolute;
//         //     z-index: 1;
//         //     top: 115px;
//         //     left: 85px;
//         //     height: 650px;

//         // }
//     }

// }

// .disclaimer {
//     background-color: white;
//     height: 65px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-bottom-color: rgb(0,0,0);
//     border-bottom-style: solid;
//     border-bottom-width: 1px;
//     border-top-color: rgb(0,0,0);
//     border-top-style: solid;
//     border-top-width: 1px;
//     text-align: center;

//     p {
//         display: block;
//     }
// }
