#token-container {
  display: grid;
  grid-template-columns: 420px 1100px 1fr;
  grid-template-areas: ". token-content .";

  #token-content {
    grid-area: token-content;
    display: flex;
    width: 1039px;
    padding-top: 30px;

    #feed-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      #feed {
        width: 690px;

        #header-container {
          padding-top: 20px;

          h1 {
            font-size: 32px;
          }

          #change-container {
            display: flex;
            margin: 10px 0 0 0;

            p {
              font-size: 13px;
            }

            #change {
              margin: 0 5px 0 0;
              font-weight: bold;
            }
          }
        }

        #chart-container {

        }

        #about-container, #stats-container {
          
          h2 {
            border-bottom: 1px solid #e6e9ed;
            font-size: 24px;
            padding: 15px;
            height: 80px;
          }

          p {
            padding: 15px;
            font-size: 15px;
            line-height: 1.5;
            height: 150px;
            overflow: scroll;
          }
        }
      }

      #side-panel-container {
      box-shadow: 0 0 10px lightgray;
      border-radius: 3px;
      height: 400px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
        align-items: center;
        form {
          margin: 15px 0 0 0;
          width: 100%;

          #header-container {
            width: 100%;

            select {
              border: none;
              outline: none;
              width: 100%;
              font-size: 15px;
              font-weight: bold;
              text-indent: -1px;
              cursor: pointer;
            }
          }

          #tokens-container {

            input {
              background-color: whitesmoke;
              border: 1px solid whitesmoke;
              height: 20px;
              width: 100px;
              border-radius: 3px;
              padding: 5px;

              &:hover {
                background-color: white;
                border: 1px solid lightgray;
              }

              &:focus {
                border: 1px solid #00C805;
                outline: none;
                background-color: white;
              }

              // &::placeholder {
              //   padding: 5px;
              // }
            }
          }

          .side-panel-section {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 0 0 0 2px;
          }
        }

        #add-watchlist {
          color: white;
          background-color: #00C805;
          border-radius: 3px;
          font-weight: bold;
          padding: 15px 30px 15px 30px;
          cursor: auto;
          width: 218px;
        }
      }
    }
  }
}


// .outmost-token-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
// }

// .outer-token-container {
//   display: flex;
//   flex-direction: row;
//   // flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   width: 850px;
//   // background-color: lightgray;
//   flex: wrap;
//   padding-top: 30px;

//   .details-row {
//     // background-color: lightgreen;
//     display: flex;
//     width: 100%;
//     height: 2000px;

//     .details {
//       // background-color: yellow;
//       width: 620px;

//       header {
//         padding-top: 20px;

//         h1 {
//           font-size: 32px;
//           padding: 5px;
//         }

//         p {
//           font-size: 13px;
//           padding: 5px;
//         }
//       }

//       .about {
//         font-size: 24px;
//         padding-top: 24px;
//         color: rgba($color: #272727, $alpha: 1);
//         text-align: justify;

//         // h1 {
//         //     // border-bottom: 1px solid lightgray;
//         // }

//         p {
//           padding-top: 24px;
//           font-size: 13px;
//         }
//       }

//       img {
//         border-bottom: 1px dashed lightgray;
//       }
//     }
//     .side-panel {
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       width: 200px;
//       height: 300px;
//       // background-color: yellow;
//       box-shadow: 0 0 10px lightgray;
//       border-radius: 3px;
//       position: sticky;
//       top: 60px;
//       margin-left: auto;
//       font-size: 13px;
//       padding: 18px;

//       header {
//         // background-color: green;
//         padding: 6px;
//         font-weight: bold;
//         font-size: 15px;
//       }

//       .tokens {
//         // background-color: coral;
//         padding: 6px;
//         display: flex;
//         align-items: baseline;
//         justify-content: space-between;

//         input {
//           border: none;
//           background-color: rgb(248, 248, 248);
//           border-radius: 3px;
//           width: 50%;
//         }
//       }

//       .price {
//         // background-color: cornflowerblue;
//         padding: 6px;
//         display: flex;
//         align-items: baseline;
//         justify-content: space-between;
//       }

//       .cost {
//         // background-color: darkgoldenrod;
//         display: flex;
//         align-items: baseline;
//         justify-content: space-between;
//         padding: 6px;
//         padding-bottom: 20px;

//         p:first-child {
//           font-weight: bold;
//         }
//       }

//       button {
//         background-color: rgb(00, 200, 5);
//         padding: 6px;
//         width: 100%;
//         border-radius: 3px;
//         color: white;
//       }

//       .buying-power {
//         // background-color: hotpink;
//         display: flex;
//         padding: 6px;
//         padding-bottom: 20px;
//         // padding-top: 20px;
//       }

//       input {
//         border: none;
//         border-radius: 3px;
//         width: 100%;
//         height: 23px;
//         background-color: rgb(245, 245, 245);
//         // margin-bottom: 20px;
//       }

//       select {
//         // appearance: none;
//         // display: block;
//         border: none;
//         width: 100%;
//         font-weight: bold;
//       }
//     }
//   }
// }
