#contact-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 100vh;

  #contact-content {
    width: 1200px;
    margin: 100px 0 0 0;

    h1 {
      font-size: 52px;
    }

    #message-container {

      // form {
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
        "name message"
        "email message";

        #name {
          grid-area: name;
        }

        #email {
          grid-area: email;
        }

        #message {
          grid-area: message;
        }
      // }
    }
  }
}