.outmost-portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.outer-portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    flex: wrap;
    padding-top: 30px;

    .feed-container {
        display: flex;
        width: 100%;
        height: 2000px;
    }

    .feed {
        width: 620px;

            header {
                padding-top: 20px;
                
                h1 {
                    font-size: 32px;
                    padding: 5px;
                }
            }

            .history {
                h2 {

                }
            }
    }

    .side-panel {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 200px;
            height: 300px;
            // background-color: yellow;
            box-shadow: 0 0 10px lightgray;
            border-radius: 3px;
            position: sticky;
            top: 60px;
            margin-left: auto;
            font-size: 13px;
            padding: 18px;

            header {
                // background-color: green;
                padding: 6px;
                font-weight: bold;
                font-size: 15px;
            }
    }

}